$desc-color: #5f5e62;
$header-color: #47464a;
$header2-color: #5f5e62;
$inactive-dots: #d9d9d9;
$active-dot: #3149e8;
$button-bg: #3149e8;
$wannatalk-color: #5f5e62;

.contact {
  text-align: center;
  margin: 0 auto;
  display: block;
  height: 88.8%;
  width: 100%;
  overflow: auto;
}

.description {
  font: {
    weight: 400;
    size: 14px;
  }
  line-height: 20px;
  color: $desc-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font: {
      weight: 400;
      size: 32px;
    }
    line-height: 40px;
    color: $header-color;
    width: 70%;
  }

  p {
    width: 75%;
  }
}

h2 {
  line-height: 36px;
  color: $header2-color;
  width: 75%;
  margin: 2% auto;
  font: {
    weight: 400;
    size: 28px;
  }
}

h3 {
  margin: 5px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font: {
    weight: 500;
    size: 14px;
  }
}

.mockup_contact {
  margin: 2% 0;
  width: 90%;
}

.mockup_welcome {
  margin: 2% 0 0;
  width: 90%;
}

.dots {
  display: flex;
  justify-content: center;
  margin: 2% 0 5%;

  span {
    width: 10px;
    height: 10px;
    background-color: $inactive-dots;
    border-radius: 10px;
    margin: 0 5px;

    &:first-of-type {
      background-color: $active-dot;
    }
  }
}

button {
  background: $button-bg;
  color: #fff;
  border-radius: 100px;
  width: 210px;
  height: 40px;
  line-height: 20px;
  margin: 2% 0 15%;
  font: {
    weight: 500;
    size: 14px;
  }
}

.if {
  line-height: 20px;
  color: $wannatalk-color;
  margin: 8% auto 5%;
  width: 75%;
  font: {
    weight: 400;
    size: 14px;
  }
}

.points {
  display: flex;
  flex-direction: column;
  width: 82%;
  text-align: left;
  margin: 5% auto 10%;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    margin: 2% 0;
  }
}
