<div class="contact">
  <h1>Contact</h1>
  <h2>
    Possible ways of contact with Mobiem Polska Sp. z o.o. Sp.k. as the Personal
    Data Administrator:
  </h2>
  <p>You can contact Mobiem Polska in the following ways:</p>

  <ol>
    <li>By e-mail: biuro@mobiem.pl</li>
    <li>
      By post: Mobiem Polska Sp. z o.o. sp.k., ul. Fabryczna 5a, 00-446 Warszawa
    </li>
  </ol>

  <h2>Data Protection Officer</h2>

  <p>
    Mobiem Polska has appointed a Data Protection Officer, i.e. a person who can
    be contacted in all matters related to the processing of personal data and
    the use of rights related to the processing of personal data.
  </p>

  <h2>Data Protection Officer’s contact details:</h2>
  <strong>Postal address:</strong><br />
  <p>
    Mobiem Polska Sp. z o.o. sp.k. <br />For the attention of: Data Protection
    Officer
    <br />
    ul. Fabryczna 5a, 00-446 Warszawa
  </p>

  <strong>E-mail:</strong> iodo@mobiem.pl
</div>
