<div class="contact">
  <app-logo></app-logo>
  <div class="description">
    <h1>Mobile marketing w nowym wydaniu</h1>
    <p>Spróbuj kreatywnego i nieszablonowego podejścia do reklamy.</p>
    <p>
      Stwórz z nami dopasowane i przyciągające formaty reklamowe - bo wiemy, jak
      dotrzeć do Twojej grupy docelowej.
    </p>
  </div>

  <img src="assets/contact_mockup.png" class="mockup_contact" />

  <h2>3 podstawowe kroki w mobile </h2>

  <!-- <img src="assets/welcome_mockup.png" class="mockup_welcome" /> -->

  <ngb-carousel [showNavigationArrows]="false">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="assets/welcome_mockup.png"
          alt="Random first slide"
          class="w-90"
        />
      </div>
      <div class="carousel-caption">First slide label</div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="assets/welcome_mockup.png"
          alt="Random second slide"
          class="w-90"
        />
      </div>
      <div class="carousel-caption">Second slide label</div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper w-100">
        <img
          src="assets/welcome_mockup.png"
          alt="Random third slide"
          class="w-90"
        />
      </div>
      <div class="carousel-caption">Third slide label</div>
    </ng-template>
  </ngb-carousel>

  <!-- <h3>Dopasuj komunikat</h3>
  <div class="dots"><span></span><span></span><span></span></div> -->
  <h2>Dlaczego reklama mobile?</h2>
  <div class="points">
    <div class="carousel_row">
      <img src="assets/rectangle.png" class="rectangle" /><span
        >Nowocześnie i w angażujący sposób zaproś użytkowników do świata Twojej
        marki.</span
      >
    </div>
    <div class="carousel_row">
      <img src="assets/rectangle.png" class="rectangle" /><span
        >Mobile to wysokie zasięgi wśród odbiorców z różnych generacji.</span
      >
    </div>
    <div class="carousel_row">
      <img src="assets/rectangle.png" class="rectangle" /><span
        >Super wyniki i efektywność, bo dla nas liczy się wysoka jakość, a nie
        ilość.</span
      >
    </div>
  </div>
  <h2>Porozmawiajmy!</h2>
  <p class="if">
    Jeżeli chcesz zapoznać się z naszą ofertą lub masz pytania - zachęcamy do
    kontaktu.
  </p>
  <button>Napisz do nas</button>
</div>
<app-navigation></app-navigation>
