<a [routerLink]="['/formats', 'push']"
  ><div class="section">
    <div class="decription">
      <h2>Push</h2>
      <h3>Krótki opis pusha</h3>
    </div>
    <img src="../../../assets/push.png" /></div
></a>

<a [routerLink]="['/formats', 'fullpage']">
  <div class="section">
    <div class="decription">
      <h2>Fullpage</h2>
      <h3>Krótki opis fullpage</h3>
    </div>
    <img src="../../../assets/push.png" /></div
></a>

<a [routerLink]="['/formats', 'video']">
  <div class="section">
    <div class="decription">
      <h2>Video</h2>
      <h3>Krótki opis video</h3>
    </div>
    <img src="../../../assets/push.png" /></div
></a>
