<div class="formats">
  <app-logo></app-logo>
  <a [routerLink]="['/formats', 'push']"
    ><div class="section">
      <div class="decription push">
        <h2>Push Ads</h2>
        <h3>Docieraj bezpośrednio</h3>
      </div>
      <img src="../../../assets/min_push.png" /></div
  ></a>

  <a [routerLink]="['/formats', 'fullpage']">
    <div class="section">
      <div class="decription fullpage">
        <h2>Fullpage Ads</h2>
        <h3>Wizualne zaangażowanie</h3>
      </div>
      <img src="../../../assets/min_full.png" /></div
  ></a>

  <a [routerLink]="['/formats', 'video']">
    <div class="section">
      <div class="decription video">
        <h2>Video Ads</h2>
        <h3>Spoty reklamowe w mobile</h3>
      </div>
      <img src="../../../assets/min_video.png" /></div
  ></a>

  <a [routerLink]="['/formats', 'banner']">
    <div class="section">
      <div class="decription banner">
        <h2>Banner Ads</h2>
        <h3>Klasyczna wydajność mobile</h3>
      </div>
      <img src="../../../assets/min_baner.png" /></div
  ></a>
</div>

<app-navigation></app-navigation>
