app-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  background-color: rgb(58, 58, 161);
}

.content {
  display: block;
  height: 92%;
  width: 100%;
  overflow: auto;
}
