.header {
  height: 20%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 15px;
  gap: 5px;

  a {
    color: #fff;
  }

  h1 {
    margin-left: 5px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
}

.bg_push {
  background-color: #3149e8;
}

.bg_fullpage {
  background-color: #00c28f;
}

.bg_video {
  background-color: #47464a;
}

.bg_banner {
  background-color: #11e0e2;
}

.full_description {
  width: 100%;
  padding: 0 15px;
  margin: 50px auto 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.section_title {
  margin: 35px 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #777680;
}

.section_description {
  font-weight: 500;
  width: 90%;
  margin: 25px 0;
}

.format {
  border-bottom: 1px solid #d4d4d4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 10px;
}

.format_list > .format ~ .format {
  padding: 10px 15px;
}

.left_format {
  h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #1b1b1f;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #46464f;
  }
}

button {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  width: 100px;
  height: 35px;
  border: 0 {
    radius: 15px;
  }
}
