.header {
  height: 22%;
  background-color: rgb(90, 192, 124);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 15px;
  gap: 5px;

  a {
    color: #fff;
  }

  h1 {
    margin-left: 5px;
  }
}

.full_description {
  width: 100%;
  padding: 0 15px;
  margin: 20px auto;
}

.section_title {
  margin: 35px 0 0;
  font-size: 12px;
  font-weight: 500;
  color: #7e7e7e;
}

.section_description {
  font-weight: 500;
  width: 80%;
}

.format {
  border-bottom: 1px solid #d4d4d4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 10px;
}

.format_list > .format ~ .format {
  padding: 10px 15px;
}

.left_format {
  h2 {
    font-size: 16px;
    margin: 0;
  }

  p {
    font-size: 14px;
    color: #494949;
    font-weight: 500;
  }
}

button {
  background-color: rgb(90, 192, 124);
  color: #fff;
  font-weight: 600;
  width: 100px;
  height: 35px;
  border: 0 {
    radius: 15px;
  }
}
