@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 90%;
  align-items: stretch;
  margin: 0 auto;
  font-family: "Roboto";
  font-style: normal;
}

.logo {
  width: 70%;
  margin: 0 auto 10%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 15% 30px;
}
.example-full-width {
  width: 100%;
  border: 0;
}

.login-btn {
  height: 40px;
  width: 100%;
  border-radius: 20px;
  color: #fff !important;
  background-color: #46464f !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  width: 55%;
  margin: 0 auto;
  text-align: center;
}

.mockup {
  width: 100%;
  margin: 20px auto;
}

.about_section {
  color: #5f5e62;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.no_password {
  color: #929094;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
