<div class="login">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Login</mat-label>
      <input matInput placeholder="Adres e-mail" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Hasło</mat-label>
      <input matInput placeholder="Twoje hasło" />
    </mat-form-field>
    <button mat-raised-button color="primary" class="login-btn">
      Zaloguj się
    </button>
  </form>

  <h2>lub</h2>

  <p>Skontaktuj się z nami jeżeli nie masz albo zapomniałeś hasła</p>
</div>
