$close-button: #ffffff80;

iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100% + 6px);
  width: calc(100% + 6px);
  border: 0;
  margin: {
    top: -2px;
    left: -2px;
  }
}

// span {
//   position: absolute;
//   left: 3%;
//   top: 2%;
//   border-radius: 50%;
//   color: #000;
//   background-color: $close-button;
//   width: 30px;
//   height: 30px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font: {
//     family: Verdana, Geneva, Tahoma, sans-serif;
//     size: 22px;
//     weight: 300;
//   }
// }

.close {
  position: absolute;
  left: 3%;
  top: 2%;
  border-radius: 50%;
  color: #000;
  background-color: $close-button;
  width: 30px;
  height: 30px;
  opacity: 0;
  transition: opacity 0.5s 0.5s ease;
}
