<div
  class="header"
  [ngClass]="{ history_header: allArrs[activeCampaign - 1].history }"
>
  <a routerLink="/campaigns"
    ><span class="material-icons"> arrow_back </span></a
  >

  <h1>{{ allArrs[activeCampaign - 1].client }}</h1>
</div>
<div class="badge_new" *ngIf="allArrs[activeCampaign - 1].newCampaign">
  Kampania do przetestowania
</div>
<div
  class="badge_tested"
  *ngIf="
    !allArrs[activeCampaign - 1].running &&
    allArrs[activeCampaign - 1].alreadyTested &&
    !allArrs[activeCampaign - 1].history
  "
>
  Kampania przetestowana
</div>
<div class="badge_running" *ngIf="allArrs[activeCampaign - 1].running">
  Kampania uruchomiona
</div>

<div class="badge_ended" *ngIf="allArrs[activeCampaign - 1].history">
  Kampania zakończona
</div>
<div class="full_description">
  <p class="section_title">Nazwa Kampanii</p>
  <h2
    class="campaign_title"
    [ngClass]="{ history_title: allArrs[activeCampaign - 1].history }"
  >
    {{ allArrs[activeCampaign - 1].name }}
  </h2>
  <p class="section_title">Czas trwania</p>
  <h2 class="dates">
    {{ allArrs[activeCampaign - 1].getStartDate() }} -
    {{ allArrs[activeCampaign - 1].getEndDate() }}
  </h2>
</div>

<div class="format_list">
  <div class="format" *ngFor="let el of activeSection">
    <div class="left_format">
      <h2>{{ el.title }}</h2>
      <p>{{ el.description }}</p>
    </div>
    <button
      [routerLink]="['/iframe', el.url]"
      *ngIf="!allArrs[activeCampaign - 1].alreadyTested"
    >
      Przetestuj
    </button>
    <button
      [routerLink]="['/iframe', el.url]"
      *ngIf="allArrs[activeCampaign - 1].alreadyTested"
      [ngClass]="{ history_button: allArrs[activeCampaign - 1].history }"
    >
      Zobacz
    </button>
  </div>
</div>
