$section-title: #777680;
$campaign-title: #3149e8;
$format-color: #d4d4d4;
$header-color: #3149e8;
$button-color: #3149e8;
$badge-new: #9d413c;
$badge-tested: #00c28f;
$badge-running: #5066ff;
$badge-ended: #78767a;
$history-header: #5f5e62;
$history-bg: #000;
$history-color: #000;

.header {
  height: 22%;
  background-color: $header-color;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 15px;
  gap: 5px;

  a {
    color: #fff;
  }

  h1 {
    margin-left: 5px;
    line-height: 32px;
    font: {
      weight: 400;
      size: 24px;
    }
  }
}

.full_description {
  width: 100%;
  padding: 0 15px;
  margin: 20px auto;
}

.section_title {
  margin: 30px 0 0;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: $section-title;
  font: {
    weight: 500;
    size: 14px;
  }
}

.section_description {
  font-weight: 500;
  width: 80%;
}

.campaign_title {
  line-height: 32px;
  color: $campaign-title;
  font: {
    weight: 400;
    size: 24px;
  }
}

.format {
  display: flex;
  border-bottom: 1px solid $format-color;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 10px;
}

.format_list > .format ~ .format {
  padding: 10px 15px;
}

.left_format {
  h2 {
    font-size: 16px;
    margin: 0;
  }

  p {
    font-size: 14px;
    color: #494949;
    font-weight: 500;
  }
}

button {
  background-color: $button-color;
  color: #fff;
  line-height: 20px;
  letter-spacing: 0.1px;
  width: 100px;
  height: 40px;
  border: 0 {
    radius: 100px;
  }
  font: {
    weight: 500;
    size: 14px;
  }
}

.dates {
  line-height: 28px;
  font: {
    weight: 400;
    size: 22px;
  }
}

.badge_new,
.badge_running,
.badge_tested,
.badge_ended {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  color: #fff;
  line-height: 16px;
  letter-spacing: 0.5px;
  margin: 15px 15px 0;
  font: {
    weight: 500;
    size: 11px;
  }
}

.badge_new {
  background-color: $badge-new;
}

.badge_tested {
  background-color: $badge-tested;
}

.badge_running {
  background-color: $badge-running;
}

.badge_ended {
  background: $badge-ended;
}

.history_header {
  background: $history-header;
}

.history_button {
  background-color: $history-bg;
}

.history_title {
  color: $history-color;
}
