$client-color: #3149e8;
$name-color: #1b1b1f;
$campaign-color: #d4d4d4;
$badge-tested: #00c28f;
$badge-new: #9d413c;
$history-color: #777680;
$search-color: #e3e1ec;
$subtext-color: #46464f;
$search-placeholder: #46464f;

.campaigns {
  display: block;
  height: 88.8%;
  width: 100%;
  overflow: auto;
}

a {
  color: #000;
}

.campaigns-list {
  width: 100%;
  height: 88%;
}

.client {
  font: {
    weight: 500;
    size: 12px;
  }
  line-height: 16px;
  color: $client-color;
  letter-spacing: 0.5px;
}

.name {
  font: {
    weight: 400;
    size: 16px;
  }
  margin: 5px 0;
  padding: 0;
  line-height: 85%;
  letter-spacing: 0.5px;
  color: $name-color;
}

.subtext {
  font: {
    weight: 400;
    size: 14px;
  }
  line-height: 20px;
  letter-spacing: 0.25px;
  color: $subtext-color;
}

.campaign {
  border-bottom: 1px solid $campaign-color;
  padding: 12px 15px;
  position: relative;

  &:first-of-type {
    border-top: 1px solid #d4d4d4;
  }
}

.tested {
  &::after {
    content: "Przetestowane";
    position: absolute;
    top: 10%;
    right: 4%;
    background-color: $badge-tested;
    padding: 2px 10px;
    color: #fff;
    border-radius: 20px;
    line-height: 16px;
    letter-spacing: 0.5px;
    font: {
      weight: 500;
      size: 11px;
    }
  }
}

.new {
  &::after {
    content: "Nowe";
    position: absolute;
    top: 10%;
    right: 4%;
    background-color: $badge-new;
    padding: 2px 10px;
    color: #fff;
    border-radius: 20px;
    line-height: 16px;
    letter-spacing: 0.5px;
    font: {
      weight: 500;
      size: 11px;
    }
  }
}

h3 {
  font: {
    weight: 500;
    size: 14px;
  }
  line-height: 20px;
  letter-spacing: 0.1px;
  padding: 7% 3.5% 2%;
}

.history {
  color: $history-color;
}

.search_container {
  width: 90%;
  margin: 0 5% 5%;
  position: relative;

  span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
  }
}

#search {
  width: 100%;
  padding: 13px 25px;
  border: 0 {
    radius: 30px;
  }
  background-color: $search-color;
}

#search,
#search::placeholder {
  font: {
    weight: 400;
    size: 16px;
  }
  line-height: 24px;
  letter-spacing: 0.5px;
  color: $search-placeholder;
}
