$icon-active-bg: #76adff;
$title-active: #76adff;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  height: 100%;
  @include flex;
  line-height: 16px;
  color: #fff;
  letter-spacing: 0.5px;
  font: {
    weight: 500;
    size: 12px;
  }
}

.element {
  height: 80px;
  width: 80px;
  @include flex;
  flex-direction: column;
  gap: 10%;

  .icon {
    @include flex;
    width: 80%;
    height: 30px;
  }
}

.icon_active {
  background: $icon-active-bg;
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: #fff;
}

.title_active {
  color: $title-active;
}
