nav {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  letter-spacing: 0.5px;
  align-items: center;
  height: 100%;
}

.element {
  height: 80px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30px;
  }
}

.icon_active {
  background: #76adff;
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: #fff;
}

.title_active {
  color: #76adff;
}
